button {
    background-color: violetjollo1.github.io/itec/activity#4.html;
    font-family: Times New Roman;
    f
}
body {
    background-image: url(06c69e1a5ad6ad8b8d09d9560ab78bb2.jpg);
    background-size: 100%;
}